{% extends 'base.html' %}

{% block page_title %} Reset Password {% endblock %}

{%  block content %}

<form method="POST">
    
    {% csrf_token %}
    
    <p>Please specify your email address to receive instructions for resetting it.</p>
    <br>
    <div style="display: none;">
        <input type="hidden" value="{% csrf_token %}" name="csrfmiddlewareatoken">
    </div>
    
    {{ form.email.errors }}
    
    <p><label for="id_email" class="control-label required-field">Email address:</label>{{ form.email }} <input type="Submit" value="Reset password"/></p>
</form>

{% endblock %}