{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-2">

            </div>
            <div class="col-10">
                <div class="row">
                
                {% for product in products %}

                    <div class="col-12">
                        <div class="row product-container">
                            <div class="col-12 col-md-4 image-container">
                                <a href="{% url 'get_product' product.id %}">
                                    <img class="img-fluid" src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.name }}">
                                </a>   
                            </div>
                            <div class="col-12 col-md-4">
                                <h5 class="product-header">{{ product.name }}</h5>
                                <p class="product-feature">{{ product.feature }}</p>
                            </div>
                            <div class="col-12 col-md-4">
                                <p class="product-price"><i class="fas fa-pound-sign"></i>{{ product.price }}<span>inc vat</span></p>
                                <form method="POST" action="{% url 'get_product' product.id %}">
                                    {% csrf_token %}
                                    
                                    {% if user.is_authenticated %}
                                        <button type="submit" class="view-product">View Product</button>
                                    {% else %}
                                        <a href="{% url 'login' %}" class="view-product disabled" tabindex="-1" role="button" aria-disabled="true">Login First</a>
                                    {% endif %}
                                    
                                </form>
                            </div>
                        </div>
                    </div>
               
                    {% endfor %}
                
                 </div>
            </div>
        </div>
    </div>
    
    <!-- template for a pagination system used to better display the products in more pages -->
    <div class="container">
        {% if products.has_other_pages %}
        
        <ul class="pagination">
            {% if products.has_previous %}
            <li><a href="?page={{ products.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %} 
            
            {% for i in products.paginator.page_range %} 
                {% if products.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">( current )</span></span></li>
            {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %} 
            {% endfor %} 
            
            {% if products.has_next %}
                <li><a href="?page={{ products.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
    
</section>


{% endblock %}