{% extends 'base.html' %} {% block content %}

<section>
    <div class="container accountform box">
        <div class="row buy-product-container">
            <h2 class="col-12 buy-product-header">{{ product.name }}</h2>
            <p class="col-12 buy-product-feature">{{ product.feature }}</p>
        </div>
        <div class="row product-details">
            <div class="col-12 col-md-4" id="image">
                <img class="img-fluid" src="{{ MEDIA_URL }}{{ product.image }}">
            </div>
            <div class="col-12 col-md-8 price">
                <p class="buy-product-price"><i class="fas fa-pound-sign"></i>{{ product.price }}<span>inc vat</span></p>
                
                <div class="average">
                    
                    {% if average_rating == 1.0 %} 
                    
                        <i class="fas fa-star star"></i>
                        <i class="far fa-star star"></i>
                        <i class="far fa-star star"></i>
                        <i class="far fa-star star"></i>
                        <i class="far fa-star star"></i>  
                        
                    {% elif average_rating == 1.5 %}
                    
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star-half-alt half"></i>
                        <i class="far fa-star star"></i>
                        <i class="far fa-star star"></i>
                        <i class="far fa-star star"></i>  
                    {% elif average_rating == 2.0 %}
                    
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="far fa-star star"></i>
                        <i class="far fa-star star"></i>
                        <i class="far fa-star star"></i>
                    {% elif average_rating == 2.5 %}
                    
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star-half-alt half"></i>
                        <i class="far fa-star star"></i>
                        <i class="far fa-star star"></i>
                    {% elif average_rating == 3.0 %}
                                
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="far fa-star star"></i>
                        <i class="far fa-star star"></i>
                     {% elif average_rating == 3.5 %}
                                
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star-half-alt half"></i>
                        <i class="far fa-star star"></i>
                    {% elif average_rating == 4.0 %}
                    
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="far fa-star star"></i>
                    {% elif average_rating == 4.5 %}
                    
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star-half-alt half"></i>
                    {% elif average_rating == 5.0 %}
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i>
                        <i class="fas fa-star star"></i> 
                        
                    {% elif average_rating == 0 %}
                    
                    {% endif %}
                    
                </div>
                {% if user.is_authenticated %}
                <form method="POST" action="{% url 'add_to_cart' product.id %}" class="col-12">
                    {% csrf_token %}

                    <div class="input-group col-6" id="input">
                        <input id="quantity" name="quantity" type="hidden" value="1" class="form-control">
                        <button class="view-product" id="add" type="submit">Add to basket</button>
                    </div>
                </form>
                {% else %}

                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}

                    <div class="input-group col-6" id="input">
                        <button class="view-product" id="add" type="submit">Login to Buy</button>
                    </div>
                </form>
                {% endif %}

            </div>
        </div>
        
        <div class="row mx-0">
            <div class="col-12">
                <h3 class="sub-header">{{ product.name }} overview</h3>
            </div>
            <div class="col-12">
                <p class="description">{{ product.description }}</p>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>Customer Reviews</h3>
                </div>
            </div>
            <div class="row reviews">

                {% for review in reviews %}


                <div class="review col-12 user-review">
                    <div class="row">
                        <div class="col-12">
                            <p>{{ review.user }}</p>
                        </div>
                    </div>
                    <div class="row d-flex align-items-center">
                        <div class="col-12 col-md-2">

                            {% if review.rating == 1 %}
                            
                                <i class="fas fa-star star"></i>
                                <i class="far fa-star star"></i>
                                <i class="far fa-star star"></i>
                                <i class="far fa-star star"></i>
                                <i class="far fa-star star"></i> 
                            {% elif review.rating == 2 %}
                            
                                <i class="fas fa-star star"></i>
                                <i class="fas fa-star star"></i>
                                <i class="far fa-star star"></i>
                                <i class="far fa-star star"></i>
                                <i class="far fa-star star"></i> 
                            {% elif review.rating == 3 %}
                            
                                <i class="fas fa-star star"></i>
                                <i class="fas fa-star star"></i>
                                <i class="fas fa-star star"></i>
                                <i class="far fa-star star"></i>
                                <i class="far fa-star star"></i>
                            
                            {% elif review.rating == 4 %}
                                <i class="fas fa-star star"></i>
                                <i class="fas fa-star star"></i>
                                <i class="fas fa-star star"></i>
                                <i class="fas fa-star star"></i>
                                <i class="far fa-star star"></i>
                            
                            {% elif review.rating == 5 %}
                                <i class="fas fa-star star"></i>
                                <i class="fas fa-star star"></i>
                                <i class="fas fa-star star"></i>
                                <i class="fas fa-star star"></i>
                                <i class="fas fa-star star"></i> 
                            
                            {% endif %}

                        </div>
                        <div class="col-10">
                            <h5 class="review-title"> {{ review.title }}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>{{ review.content }}</p>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
