{% extends 'base.html' %}

{% block content %}

<section>
    <div class="container accountform">
        <div class="row buy-product-container">
            <h2 class="col-12 buy-product-header">{{ product.name }}</h2>
            <p class="col-12 buy-product-feature">{{ product.feature }}</p>
        </div>
        <div class="row product-details">
            <div class="col-4 col-md-4">
                <img class="img-fluid" src="{{ MEDIA_URL }}{{ product.image }}">
            </div>
            <div class="col-8 col-md-8 price">
                <p class="buy-product-price"><i class="fas fa-pound-sign"></i>{{ product.price }}<span>inc vat</span></p>
                <form method="POST" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group col-6">
                        <input id="quantity" name="quantity" type="hidden" value="1" class="form-control">
                        <button class="view-product" id="add" type="submit">Add to basket</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <h3 class="col-12 sub-header">{{ product.name }} overview</h3>
            <p class="col-12 description">{{ product.description }}</p>
        </div>
    </div>
    
    {% for review in reviews %}
        {{ review.title }} {{ review.content }} {{ review.image }} {{ review.create_date }}
    {% endfor %}
    
</section>

{% endblock %}
