{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-2">

            </div>
            <div class="col-10">
                <div class="row">
                
                {% for product in products %}

                    <div class="col-12">
                        <div class="row product-container">
                            <div class="col-12 col-md-4 image-container">
                                <a href="{% url 'get_product' product.id %}">
                                    <img class="img-fluid" src="{{ MEDIA_URL }}{{ product.image }}" alt="{{ product.name }}">
                                </a>   
                            </div>
                            <div class="col-12 col-md-4">
                                <h5 class="product-header">{{ product.name }}</h5>
                                <p class="product-feature">{{ product.feature }}</p>
                            </div>
                            <div class="col-12 col-md-4">
                                <p class="product-price"><i class="fas fa-pound-sign"></i>{{ product.price }}<span>inc vat</span></p>
                                <form method="POST" action="{% url 'get_product' product.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="view-product">View Product</button>
                                </form>
                            </div>
                        </div>
                    </div>
               
                    {% endfor %}
                
                 </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
