{% extends "base.html" %} 
{% load bootstrap_tags %} 
{% block content %}

<!-- This template allowed the users to see and update their own profile information --> 
<div class="section">
    <div class="container accountform">
        <div class="media">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Profile Info</legend>
                {{ user_form | as_bootstrap }}
            </fieldset>
            <div class="form-group">
                <button class="view-product" type="submit">Update</button>
            </div>
        </form>
    </div>
    
    <!-- This template rendered the item purchased from the current user and allow the latter to leave a review 
    to the selected item -->
    <div class="container history">
        <div class="row">
            <h3 class="col-12">Your Orders</h3>
        </div>
    {% for purchase in purchases %}
    <div class="row recent-purchased">
        <ul class="col-8">
            <li>{{ purchase.product }}, {{ purchase.order }}</li>
        </ul>
        <div class="col-4">
            <a href="{% url 'new_review' %}" role="button" class="view-product" id="review">Leave a Review</a>
        </div>
    </div>
    {% endfor %}
    </div>
</div>

{% endblock %}
