{% extends "base.html" %} 
{% load bootstrap_tags %} 
{% block content %}

<div class="section">
    <div class="container accountform">
        <div class="media">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Profile Info</legend>
                {{ user_form | as_bootstrap }}
            </fieldset>
            <div class="form-group">
                <button class="view-product" type="submit">Update</button>
            </div>
        </form>
    </div>
    
    {% for purchase in purchases %}
         {{ purchase.user }} {{ purchase.quantity }} 
    {% endfor %}
    
</div>

{% endblock %}
