{% extends "base.html" %} 
{% load bootstrap_tags %} 
{% block content %}

<!-- This template allowed the users to see and update their own profile information --> 
<div class="section">
    <div class="container accountform">
        <div class="media">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend>Profile Info</legend>
                {{ user_form | as_bootstrap }}
            </fieldset>
            <div class="form-group">
                <button class="view-product" type="submit">Update</button>
            </div>
        </form>
    </div>
    
    <!-- This template rendered the item purchased from the current user -->
    <div class="container history">
        <div class="row">
            <h3 class="col-12">Your Orders</h3>
        </div>
        
    {% if purchases %}  
        {% for purchase in purchases %}
        
            <div class="row recent-purchased">
                <ul class="col-8">
                    <a href="{% url 'get_product' purchase.product.id %}">
                        <li>{{ purchase.order.user }}, {{ purchase.product }}, {{ purchase.order.date }} </li>
                    </a>
                    <a type="button" href="{% url 'new_review' purchase.product.id %}">Write a customer review</a>
                </ul>
            </div>
            
        {% endfor %}
    {% else %}
    
            <p>You did not buy anything yet!</p>
            
    {% endif %}
    
    </div>
</div>

{% endblock %}
