{% extends 'base.html' %} 
{% load static from staticfiles %} 
{% load bootstrap_tags %} 

{% block content %}
<section>
    <div class="container accountform">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2>Your Shopping Basket</h2>
            </div>
            <div class="col-md-6 text-right unit-price">
                <h6>unit price:</h6>
            </div>
        </div>
      
            {% for item in cart_items %}

            <div class="container checkout-container">
                <div class="row">
                    <div class="col-12 col-md-2" id="out-image">
                        <img class="img-responsive checkout-image" src="{{ MEDIA_URL }}{{ item.product.image }}" alt="{{ item.product.name }}">
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="row" id="out-name">
                            <h5 class="col-12">{{ item.product.name }}</h5>
                            <form class="form-inline col-12 product-form" method="POST" action="{% url 'adjust_cart' item.id %}">
                                {% csrf_token %}

                                <div class="form-group">
                                    <div class=" input-group">
                                        <div class="input-group-addon">Quantity<span></span></div>
                                        <input value="{{ item.quantity }}" name="quantity" type="number" min="0" max="999" class="form-control" placeholder="{{ item.quantity }}">
                                    </div>
                                </div>
                                <button type="submit" id="modify" class="view-product col-12 col-xl-4">Modify</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-6 cart-item-price">
                        <p class="buy-product-price" id="cart-price"><i class="fas fa-pound-sign"></i>{{ item.product.price }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
   
            <div class="row">
                <div class="col-12 total">
                    <p>Total:</p>
                    <p class="product-price"><i class="fas fa-pound-sign"></i>{{ total }}</p>
        
                {% if product_count > 0 %}
                
                    <a href="{% url 'checkout' %}" class="view-product" role="button" id="checkout">Checkout</a>    
                {% else %}
                
                    <a href="#" class="view-product disabled" role="button" id="checkout">Checkout</a> 
                {% endif %}
        
                </div>
            </div>

    </div>
</section>

{% endblock %}
